{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'upload/style.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<h1>Settings</h1>
<hr>
<form action="user_settings" method="post">
    {% csrf_token %}
    <div class="file-upload" style="">Set your base folder</div>
        {{ form.path.as_hidden}}
    <div class="file-upload" id="jstree"></div>
    <br>
    {{ form.path }}
    {% if base_folder|length > 0 %}
    <input id="clear_button" type="button" value="Clear Base Folder">
    {% endif %}
    {{form.as_p}}
    <hr>
    <input type="submit" value="Save Settings">
    <input type="button" value="Cancel" onclick="window.location.href='/upload/'">
</form>

<script type="text/javascript">

    //make base url read only
    $("#id_base_folder").prop("readonly", true);
    $("#id_base_folder").attr("size", 100);

    //set base folder input value
    $("#id_base_folder").val("{{base_folder}}");

    //set checkbox for show files value
    //$("#id_show_files").val("{{show_files}}");

    var rawdata = "{{ json_file_tree|escapejs }}"
    var data    = rawdata.replace(/'/g, '"');

    //Clear saved base folder from user settings
    $( "#clear_button" ).click(function() {

        var xhr = new XMLHttpRequest();
        xhr.open("DELETE", "{% url 'clear_base_folder' %}", true);
        //Set headers
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
        xhr.send();
        //clear file from input
        $("#id_base_folder").val("");

    });

    //build tree based on structure from createtree
    $('#jstree').jstree({ 'core' : {
    'data' : JSON.parse(data)
    } });

    //select folder from file tree
    $('#jstree').on("changed.jstree", function (e, data) {
       //set selected path
       selected = data.node.original.fullPath;
       console.log('selected = ' + selected);
       //show add button when folder is chosen
       document.getElementById('id_base_folder').value = selected;
    });

 function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);
    enableButton()

  } else {
    removeUpload();
  }
}
</script>


