{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'upload/style.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
{% block content %}

<form method="post" enctype="multipart/form-data" action="/upload/" id="uploadForm">
    {% csrf_token %}
    <div class="file-upload">
      <button type="button" id="main-button" class="file-upload-btn" disabled>Upload A File</button>

      <div class="image-upload-wrap">
        <input id="uploadBar" class="file-upload-input" type='file' onchange="readURL(this);" accept="file" name="myFile"/>
        <div class="drag-text">
          <h3>Drag and drop a file to Upload</h3>
        </div>
      </div>
      <div class="file-upload-content">
          <br>
          <br>

        <div id='removeBar' class="image-title-wrap">
          <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded File</span></button>
        </div>
      </div>
  </div>
    <div class="file-upload" style="">Pick your upload folder</div>
        {{ form.path.as_hidden}}
    <div class="file-upload" id="jstree_demo_div"></div>
</form>

<div class="loader" hidden>Loading...</div>


{% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

{% endblock %}

<script type="text/javascript">

    var rawdata = "{{ json_file_tree|escapejs }}"
    var data = rawdata.replace(/'/g, '"');

    //build tree based on structure from createtree
    $('#jstree_demo_div').jstree({ 'core' : {
    'data' : JSON.parse(data)
    } });

    $('#jstree_demo_div').on("changed.jstree", function (e, data) {
       selected = data.node.original.fullPath;
       document.getElementById('id_path').value = selected;
       console.log(document.getElementById('uploadBar'));
   });


 function disableButton(){
     $('#main-button').prop('disabled', true);
 }

  function enableButton(){
     $('#main-button').prop('disabled', false);
 }

 function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);
    enableButton()

  } else {
    removeUpload();
  }
}

function removeUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').hide();
  //remove the selected file from the form
  $('#uploadBar').val('');

  disableButton();

  $('.image-upload-wrap').show();
}
$('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
});


$( "#main-button" ).click(function(e) {
  upload(e);
});

function upload(event) {
	event.preventDefault();
	var data = new FormData($('#uploadForm').get(0));
	$('.loader').show();

	$.ajax({
	    method:'POST',
	    url: $(this).attr('action'),
	    type: $(this).attr('method'),
	    data: data,
	    cache: false,
	    processData: false,
	    contentType: false,
	    success: function(data) {
	        $('.loader').hide();
	        $('#removeBar').hide();
	        $('.image-upload-wrap').show();
	    },
	    dataType:'text',
	    progress: function(e) {
        //make sure we can compute the length
        if(e.lengthComputable) {
            //calculate the percentage loaded
            var pct = (e.loaded / e.total) * 100;

            //log percentage loaded
            console.log(pct);
        }
        //this usually happens when Content-Length isn't set
        else {
            console.log('Content Length not reported!');
        }
    }
	}).done(function (e) {
    // Do something

    });
	return false;
}

$(function() {
    $('uploadForm').submit(upload);
});



</script>
