{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'upload/style.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<script src="/static/upload/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="/static/upload/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="/static/upload/jquery.fileupload.js"></script>
<!-- Calculate md5 -->
<script src="/static/upload/spark-md5.js"></script>
<script src="/static/upload/resumable.js"></script>
{% block content %}

<!-- loading animation -->
<div class="loader" hidden>Loading...</div>

<form method="post" enctype="multipart/form-data" action="/upload/" id="uploadForm">
    {% csrf_token %}
    <button type="button" id="settings-button" onclick="window.location.href='/upload/user_settings'">Settings</button>
    <hr>
    <div class="file-upload" style="">Set your upload folder</div>
        {% if base_folder %}
        {{ base_folder.as_hidden }}
        {% else %}
        {{ form.path.as_hidden}}
        {% endif %}
    <div class="file-upload" id="jstree"></div>
    <br>
    <button type="button" id="add-dir" class="add-dir-button">Add a folder</button>
    <div class="file-upload">
      <div class="image-upload-wrap">
          <input id="chunked_upload" type="file" name="the_file" class="file-upload-input" accept="file" multiple="">
          <div id="button-text">Drag and drop a file/s to Upload</div>
          <div class="file-upload-content">
        </div>
      </div>
        </div>
      </div>
  </div>
</form>


{% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

{% endblock %}

<script type="text/javascript">

    //hide add button
    var addButton = $('#add-dir');
    addButton.hide();


    var csrf      = $("input[name='csrfmiddlewaretoken']")[0].value;
    var form_data = [{"name": "csrfmiddlewaretoken", "value": csrf}];

    var rawdata = "{{ json_file_tree|escapejs }}"
    var data    = rawdata.replace(/'/g, '"');

    if (!isEmpty("{{base_folder}}")){
        var baseFolder = "{{base_folder}}";
        data_obj      = JSON.parse(data);
        for (i in data){
        if (data_obj[i] != undefined){
          if (data_obj[i].fullPath == baseFolder){
             var default_id = data_obj[i].id;
             $('#jstree').jstree('select_node', default_id);
          }
        }
       }
    }

    //build tree based on structure from createtree
    $('#jstree').jstree({ 'core' : {
    'data' : JSON.parse(data)
    } });

    function isEmpty(str) {
       return (!str || 0 === str.length);
    }


    //select folder from file tree
    $('#jstree').on("changed.jstree", function (e, data) {
       //set selected path
       if (data.node != undefined){
           selected = data.node.original.fullPath;
           //show add button when folder is chosen
           addButton.show();
       }
   });

   $('#jstree').on('loaded.jstree', function() {
       $('#jstree').jstree('select_node', default_id);
   });


 function disableButton(){
     $('#main-button').prop('disabled', true);
 }

  function enableButton(){
     $('#main-button').prop('disabled', false);
 }

 function readURL(input) {
  if (input.files && input.files[0]) {

    var reader = new FileReader();

    reader.onload = function(e) {
      $('.image-upload-wrap').hide();

      $('.file-upload-image').attr('src', e.target.result);
      $('.file-upload-content').show();

      $('.image-title').html(input.files[0].name);
    };

    reader.readAsDataURL(input.files[0]);
    enableButton()

  } else {
    removeUpload();
  }
}

function removeUpload() {
  $('.file-upload-input').replaceWith($('.file-upload-input').clone());
  $('.file-upload-content').hide();
  //remove the selected file from the form
  $('#uploadBar').val('');

  disableButton();

  $('.image-upload-wrap').show();
}
$('.image-upload-wrap').bind('dragover', function () {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function () {
        $('.image-upload-wrap').removeClass('image-dropping');
});

//handle adding a folder
$( "#add-dir" ).click(function(e) {
   var newFolder = prompt("Folder Name (Spaces and other characters may be replaced)", "New_Folder");
   var folderPath = selected;
   //remove spaces and other uncool strings
   var sanitized = newFolder.replace(/[^a-z0-9]/gi, '_');
   var newPath   = folderPath + '/' + sanitized;
   console.log('New folder path = ' + newPath);
   addFolder(e, newPath);
});

function addFolder(event, path) {
  event.preventDefault();
    var data        = {'newPath' : path};
    var dataPayload = JSON.stringify(data);
    console.log('new folder path payload = ' + dataPayload);

  $.ajax({
      method:'POST',
      url: "{% url 'new_path' %}",
      beforeSend: function(xhr){xhr.setRequestHeader('X-CSRFToken', "{{csrf_token}}");},
      type: $(this).attr('method'),
      data: dataPayload,
      cache: false,
      processData: false,
      contentType: false,
      success: function(data) {
          console.log('success = ' + JSON.stringify(data));
          location.reload(true);
      },
      dataType:'text',
      progress: function(e) {
        //make sure we can compute the length
        if(e.lengthComputable) {
            //calculate the percentage loaded
            var pct = (e.loaded / e.total) * 100;

            //log percentage loaded
            console.log(pct);
        }
        //this usually happens when Content-Length isn't set
        else {
            console.log('Content Length not reported!');
        }
    }
  }).done(function (e) {
    // Do something
       console.log('Success on done');

    });
  return false;
}


$('#chunked_upload').change(function(e) {

    var r = new Resumable({
    target: '/upload/receive_resumable',
    headers: {
      'X-CSRFToken': '{{csrf_token}}',
      'destination' : selected,
      }
    });

    r.assignBrowse(document.getElementById('chunked_upload'));
    r.assignDrop(document.getElementById('chunked_upload'));

    r.addFiles(e.target.files);

    r.on('fileAdded', function(file, event){
      //hide file upload bar while upload in progress and show the loading animation
      $('#uploadForm').hide();
      $('.loader').show();
      r.upload();
    });

    r.on('fileError', function(file, event){
      console.log('got to error');
      console.log(event);
    });

    r.on('fileProgress', function(file, event){
      console.log('Uploading file');
      r.upload();
    });

    r.on('fileSuccess', function(file, event){
      //show file upload bar while upload in progress and hide the loading animation
      $('#uploadForm').show();
      $('.loader').hide();
      console.log('File uploaded is done');
    });

});



</script>